<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.dao.PrivilegeDataCategoryMapper">
    <resultMap id="baseResultMap" type="com.system.entity.PrivilegeDataCategoryEntity">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="privilegeId" column="privilege_id" jdbcType="INTEGER"/>
        <result property="dataCatId" column="data_cat_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="insert" parameterType="com.system.entity.PrivilegeDataCategoryEntity">
        insert into privilege_data_cat(privilege_id, data_cat_id,create_time,
                         update_time, create_user, update_user, deleted)
        values(
               #{privilegeId ,jdbcType = INTEGER},
               #{dataCatId ,jdbcType = INTEGER},
               #{createTime ,jdbcType = TIMESTAMP},
               #{updateTime ,jdbcType = TIMESTAMP},
               #{createUser ,jdbcType = BIGINT},
               #{updateUser ,jdbcType = BIGINT},
               #{deleted ,jdbcType = TINYINT}
              )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into privilege_data_cat(privilege_id, data_cat_id,create_time,
        update_time, create_user, update_user, deleted)
        values
        <foreach collection ="list" item="item" separator =",">
            (
            #{item.privilegeId ,jdbcType = INTEGER},
            #{item.dataCatId ,jdbcType = INTEGER},
            #{item.createTime ,jdbcType = TIMESTAMP},
            #{item.updateTime ,jdbcType = TIMESTAMP},
            #{item.createUser ,jdbcType = BIGINT},
            #{item.updateUser ,jdbcType = BIGINT},
            #{item.deleted ,jdbcType = TINYINT}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.system.entity.PrivilegeDataCategoryEntity">
        update privilege_data_cat
        <trim prefix="set" suffixOverrides=",">
            <if test="privilegeId != null">privilege_id=#{privilegeId},</if>
            <if test="dataCatId != null">data_cat_id=#{dataCatId},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
            <if test="updateUser != null">update_user=#{updateUser},</if>
        </trim>
        where id = #{id, jdbcType = BIGINT}
    </update>

    <select id="getByParam" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from privilege_data_cat
        where deleted = 0
        <include refid="queryState"/>
        limit 1
    </select>

    <select id="listByParam" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from privilege_data_cat
        where deleted = 0
        <include refid="queryState"/>
    </select>

    <sql id="queryState">
        <if test="id!=null">
            and id = #{id}
        </if>
        <if test="name!=null and name!=''">
            and name = #{name}
        </if>
        <if test="code!=null and code!=''">
            and code = #{code}
        </if>
    </sql>


    <delete id="delete" parameterType="java.lang.Integer">
        update privilege_data_cat set deleted = 1 where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByParam" parameterType="java.lang.Integer">
        update privilege_data_cat set deleted = 1 where privilege_id = #{privilegeId}
    </delete>
</mapper>