<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.dao.RolePrivilegeMapper">
    <resultMap id="baseResultMap" type="com.system.entity.RolePrivilegeEntity">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="privilegeId" column="privilege_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="insert" parameterType="com.system.entity.RolePrivilegeEntity">
        insert into role_privilege(role_id, privilege_id, create_time,
                         update_time, create_user, update_user, deleted)
        values(
               #{roleId ,jdbcType = INTEGER},
               #{privilegeId ,jdbcType = INTEGER},
               #{createTime ,jdbcType = TIMESTAMP},
               #{updateTime ,jdbcType = TIMESTAMP},
               #{createUser ,jdbcType = BIGINT},
               #{updateUser ,jdbcType = BIGINT},
               #{deleted ,jdbcType = TINYINT}
              )
    </insert>

    <update id="update" parameterType="com.system.entity.RolePrivilegeEntity">
        update role_privilege
        <trim prefix="set" suffixOverrides=",">
            <if test="roleId != null">role_id=#{roleId},</if>
            <if test="privilegeId != null">privilege_id=#{privilegeId},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
            <if test="updateUser != null">update_user=#{updateUser},</if>
        </trim>
        where id = #{id, jdbcType = BIGINT}
    </update>

    <select id="getByParam" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from role_privilege
        where deleted = 0
        <include refid="queryState"/>
        limit 1
    </select>

    <select id="listByParam" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from role_privilege
        where deleted = 0
        <include refid="queryState"/>
    </select>

    <sql id="queryState">
        <if test="id!=null">
            and id = #{id}
        </if>
        <if test="name!=null and name!=''">
            and name = #{name}
        </if>
        <if test="code!=null and code!=''">
            and code = #{code}
        </if>
    </sql>


    <delete id="delete" parameterType="java.lang.Integer">
        update role_privilege set deleted = 1 where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>